<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CV For Dean Akinwale</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("CV For Dean Akinwale", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavBarItems">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="myNavBarItems">
                <ul class="nav navbar-nav">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home")</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <!--The render body method renders the code for the respective view eg About.cshtml
            code will be displayed here-->
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - CV For Dean Akinwale</p>
        </footer>
    </div>
    <!--The "at" symbol is what defines the razor syntax which allows you to mix c# with html.
        Code that follows the "at" symbol is c#-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
